@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 21px;
}

.container {
  margin: 0 auto;
  width: 570px;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1 span,
h2 span,
p span,
time {
  font-weight: bold;
  color: #99d930;
}

h1 span {
  font-size: 80px;
}

h2 span {
  font-size: 60px;
}

h1 {
  font-size: 60px;
  margin-bottom: 40px;
}

h2 {
  font-size: 42px;
  margin-bottom: 30px;
}

h3 {
  font-size: 36px;
}

.writtenBy {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
}

a {
  color: #99d930;
}

a:hover {
  color: #131313;
}

/* upper section styling */
.upper {
  background-color: #252525;
  padding: 100px 0px;
  color: #fff;
}

/* Middle Section */
.center {
  background-color: whitesmoke;
  padding: 100px 0px;
}

/* Lower Section */
.lower {
  background-color: #252525;
  color: #fff;
  padding: 100px 0px;
}

/*  button styling */
button {
  padding: 15px;
  background-color: #99d930;
  color: #252525;
  border: none;
  margin-top: 20px;
  font-weight: bold;
  font-size: large;
}

button:hover {
  background-color: #252525;
  color: #fff;
}

hr {
  margin-top: 40px;
  margin-bottom: 10px;
  height: 1px;
  color: #c4c4c4;
}
